
@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

/* purgecss start ignore */

:focus, button:focus {
    outline: solid  3px rgba(0,0,0,0.05);
    outline-offset: 4px;
}

h1, h2 {
	@apply font-dancing;
}

.content-header {
	@apply text-5xl;
	@apply font-bold; 
	@apply text-center;
	@apply mb-4;
}

.nav-header, footer {
	background-color: #0e74b2;
}
#nav-content a{
	@apply inline-block;
	@apply text-white; 
	@apply no-underline;
	@apply py-2; 
	@apply px-4;
}
#nav-content a:hover {
	color: #c39738;
	text-decoration: underline;
}
a {
	@apply text-ws-blue-500;
	@apply underline;
}

.content-wrapper {
	@apply max-w-2xl;
	@apply m-auto;
	@apply pb-20;
}

.testimonial {
	@apply my-10;
}
.testimonial h3{ 
	@apply font-dancing;
	@apply text-3xl;
	@apply mb-3;
}
.testimonial p {
	border-left: 3px solid #c39738;
	padding-left: 10px;
	@apply text-lg;
}


/* purgecss end ignore */