---
layout: base.njk
title: Resources | Jackie Langley – Voice Teacher and Music Director
---

<main id="main" class="px-4 max-w-5xl mx-auto rounded shadow-lg">
    <div class="content-wrapper">
        <h1 class="content-header">Resources for Students</h1>

        <div class="container flex">
            <div class="w-full sm:w-1/2 mr-5">
                <img src="/static/filippone-business-card.jpg" alt="Mary Filippone Acting Coaching Business Card" class="mx-auto pr-5">

                <h2 class="text-3xl mb-5">Acting Coaching</h2>
                <p class="mb-5">Contact Mary Filippone for private coaching, audition preparation, and workshops.</p>
                <p>mary.leigh.filippone@gmail.com</p>
            </div>
            <div class="w-full sm:w-1/2">
                <img src="/static/pipe-photography.jpg" alt="Kelly Anne Pipe Photography" class="mx-auto pr-5">
                <h2 class="text-3xl mb-5">Headshots</h2>
                <p class="mb-5">A local photographer offers a special discount for my students; this is a great way to get a professional headshot for auditions or college applications.</p>
                <p><a href="https://kapipe.com">Visit her website and mention that you are a student of mine to receive the discount.</a></p>
            </div>
        </div>
        
    </div>
</main>